<footer id="footer" class="transition-all ease-in-out duration-300 bg-sf-grey-100 py-8">
    <div class="mx-auto">
        <div class="flex justify-center">
            <div class="flex-none lg:flex lg:justify-center">
                <div class="p-8 lg:px-16">
                    <h5 class="font-semibold text-sf-grey-900 pb-4 uppercase">Events</h5>
                    <ul class="">
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../pumpkinfest.html">Farmfest
                                Pumpkinfest</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../friday-night-fright.html">Friday
                                Night Fright</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../sponser-a-monster.html">Sponser
                                A Monster</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../christmas.html">Christmas
                                Show</a>
                        </li>
                    </ul>
                </div>
                <div class="p-8 lg:px-16">
                    <h5 class="font-semibold text-sf-grey-900 pb-4 uppercase">Information</h5>
                    <ul class="">
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../index.html">Home</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../directions.html">Directions</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../contact.html">Contact</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../crafts.html">Crafts</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../recipes.html">Recipes</a>
                        </li>
                        <li class="pb-2">
                            <a class="text-sf-grey-700 hover:text-sf-orange-700" href="../../growing-giants.html">Growing
                                Giants</a>
                        </li>
                    </ul>
                </div>
                <div class="p-8 lg:px-16 text-sf-grey-700">
                    <h5 class="font-semibold text-sf-grey-900 pb-4 uppercase">Address & Hours</h5>
                    <div class="text-sm">
                        <p>136 Sand Bar Rd.</p>
                        <p>Little Britain, ON K0M 2C0</p>
                    </div>
                    <ul class="pt-4 text-sm">
                        <li class="flex justify-between">
                            <div>Monday</div>
                            <div>Closed</div>
                        </li>
                        <li class="flex justify-between">
                            <div>Tuesday</div>
                            <div>Closed</div>
                        </li>
                        <li class="flex justify-between">
                            <div>Wednesday</div>
                            <div>Closed</div>
                        </li>
                        <li class="flex justify-between">
                            <div>Thursday</div>
                            <div>Closed</div>
                        </li>
                        <li class="flex justify-between">
                            <div>Friday</div>
                            <div>Noon-4pm</div>
                        </li>
                        <li class="flex justify-between">
                            <div>Saturday</div>
                            <div>10am-4pm</div>
                        </li>
                        <li class="flex justify-between">
                            <div>Sunday</div>
                            <div>10am-4pm</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>